html {
    height: 100%
}

body {
    height: calc(100vh - 164px);
}

p {
    word-wrap: normal;
}

#creator {
    background-color: grey;
    color: black;
}

/* ---------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}