{% extends "base.html" %}
{% block content %}

<!-- Template for page allowing Admin to add a new category to website.-->
<div class="container">
    <div class="row">
        <div class="card shadow my-3 mx-2 p-3">
            <h2>Add Category</h2>
            <form action="{% url 'add_category' %}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="row">
                    <div class="col-12 text-center mx-auto">
                        <button type="submit" class="btn btn-outline-primary">Add Category</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}