{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow my-3 mx-2 p-3">
                {% for category in categories %}
                <h5 class="text-center">Category: {{category.name}}</h5>
                {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-12 text-center mx-auto">
                        <a href="{% url 'update_category' category.id %}">Update
                            {{category}}</a>
                        <a href="{% url 'delete_category' category.id %}">Delete
                            {{category}}</a>
                    </div>
                </div>
                {% endif %}
                <hr>
                {% endfor %}
                <hr>
                {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-12 text-center mx-auto">
                        <a href="{% url 'add_category' %}">Add Category</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}